*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-size: $font-size;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $neutral100;
    position: relative;
}