@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

//Colors
$neutral100: hsl(0, 0%, 98%);
$neutral400: hsl(0, 0%, 41%);
$neutral800: hsl(0, 0%, 8%);


//Fonts
$font-size: 18px;
$font-family: 'Epilogue', sans-serif;
$fw-normal: 500;
$fw-bold: 700;

//Mixin's
@mixin hover{
    &:hover{
        color: $neutral800;
    }
}